Crypto Trading Bot - Simple Batch Fixed (1).json
{
  "name": "Crypto Trading Bot - Simple Batch Fixed",
  "nodes": [
    {
      "parameters": {},
      "id": "9b02cc69-8177-4e2d-8444-246fd5b4938b",
      "name": "Start Bot",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_features_3months.csv",
        "options": {}
      },
      "id": "a8f3698b-d277-4dec-9cab-c0c70f44962a",
      "name": "1. Load Market Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_news_3months.csv",
        "options": {}
      },
      "id": "c84d0d52-ce40-4883-8982-36105a8f0bb5",
      "name": "2. Load News Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\nif (typeof input.json === 'string') text = input.json;\nelse if (input.json.data) text = input.json.data;\nelse if (input.binary) text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let char of line) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else current += char;\n  }\n  values.push(current.trim());\n  const obj = {};\n  headers.forEach((h, idx) => obj[h] = values[idx] || '');\n  result.push({ json: obj });\n}\nreturn result;"
      },
      "id": "ac11e3a5-d7b1-4b2a-a83a-b1e36a381fd1",
      "name": "Parse CSV (Market)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\nif (typeof input.json === 'string') text = input.json;\nelse if (input.json.data) text = input.json.data;\nelse if (input.binary) text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let char of line) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else current += char;\n  }\n  values.push(current.trim());\n  const obj = {};\n  headers.forEach((h, idx) => obj[h] = values[idx] || '');\n  result.push({ json: obj });\n}\nreturn result;"
      },
      "id": "6b215970-330d-4aa6-8f50-d0c1a44df50d",
      "name": "Parse CSV (News)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const newsByDate = {};\nfor (const item of $input.all()) {\n  let d = item.json.date || (item.json.datetime ? item.json.datetime.split(' ')[0] : '');\n  if (!d) continue;\n  if (!newsByDate[d]) newsByDate[d] = [];\n  newsByDate[d].push(item.json.title);\n}\nreturn [{ json: { newsByDate } }];"
      },
      "id": "a0f424dd-9eca-49cb-852b-f520bfd8e28e",
      "name": "Group News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {},
      "id": "bb20b4b1-580b-4efb-8945-9af610d847e7",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        880,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet newsLookup = {};\nconst marketData = [];\n\nfor (const item of allItems) {\n  if (item.json.newsByDate) newsLookup = item.json.newsByDate;\n  else if (item.json.date) marketData.push(item);\n}\n\nmarketData.sort((a, b) => new Date(a.json.date) - new Date(b.json.date));\n\nconst merged = [];\nfor (const item of marketData) {\n  let d = item.json.date.split(' ')[0];\n  const news = newsLookup[d] || [];\n  const newsText = news.length > 0 ? news.slice(0, 3).join(' | ') : \"Market is quiet today.\";\n\n  merged.push({\n    json: {\n      ...item.json,\n      news_text: newsText,\n      news_count: news.length\n    }\n  });\n}\n\nreturn merged;"
      },
      "id": "2bda42fa-7fbb-4f8f-96ce-1e2d524924bd",
      "name": "3. Merge Daily Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple Batch Preparation\nconst allItems = $input.all();\nconst inputsArray = allItems.map(item => item.json.news_text);\n\n// We store original items to merge later\nreturn [{\n  json: {\n    batch_inputs: inputsArray,\n    original_items: allItems.map(i => i.json)\n  }\n}];"
      },
      "id": "b922b69b-6438-470c-b755-3305150d8c5c",
      "name": "4. Prepare Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"inputs\": $json.batch_inputs} }}",
        "options": {}
      },
      "id": "835bea67-aef2-4604-9be0-d7cc2e4bd003",
      "name": "5. HF Sentiment (Single Batch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "z93uwoDsgUICMrh2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Enhanced strategy for higher Sharpe ratio\nconst item = $input.first();\n\n// 1. Get Data\nlet apiResponse = item.json.data || item.json;\nconst prepareNode = $(\"4. Prepare Batch\").first();\nconst originalItems = prepareNode.json.original_items; \n\nif (!originalItems) throw new Error(\"Missing original_items\");\n\n// 2. Normalize API\nlet sentiments = apiResponse;\nif (Array.isArray(apiResponse) && Array.isArray(apiResponse[0])) sentiments = apiResponse;\nelse if (!Array.isArray(apiResponse)) sentiments = [apiResponse];\n\n// 3. Setup Portfolio\nconst tickers = [...new Set(originalItems.map(i => i.ticker))]; \nconst initialCapitalPerTicker = 10000 / tickers.length; \nconst portfolio = {};\n\ntickers.forEach(t => {\n    portfolio[t] = { \n        balance: initialCapitalPerTicker, \n        coin: 0, \n        inPosition: false, \n        entryPrice: 0,\n        peakPrice: 0,\n        lastEquity: initialCapitalPerTicker,\n        // Dynamic stop will be set per entry based on volatility\n        dynamicStopPct: 0.05  // default, will be updated on entry\n    };\n});\n\n// 4. Helper functions\nfunction sigmoid(x) {\n    return 1 / (1 + Math.exp(-x));\n}\n\nfunction rsiSignal(rsi) {\n    // Use sigmoid to create smooth transition between -1 and 1\n    if (rsi < 30) return (30 - rsi) / 30;          // linear\n    if (rsi > 70) return -(rsi - 70) / 30;\n    return 0;\n}\n\nfunction bbSignal(bb_pos) {\n    if (bb_pos < 0.2) return (0.2 - bb_pos) / 0.2;\n    if (bb_pos > 0.8) return -(bb_pos - 0.8) / 0.2;\n    return 0;\n}\n\nfunction volumeSignal(volumeChange, obv) {\n    // Volume spike up positive, spike down negative\n    if (volumeChange > 0.5) return 0.3;   // high volume increase\n    if (volumeChange < -0.5) return -0.3;\n    // Could also use OBV trend, but simple for now\n    return 0;\n}\n\nfunction volatilityAdjustment(vol_7d, baseThreshold = 0.3) {\n    // Higher volatility → need higher conviction (threshold increases)\n    // Lower volatility → easier to trigger trades\n    const volFactor = Math.min(2, Math.max(0.5, vol_7d / 0.03)); // assuming 3% avg daily vol\n    return baseThreshold * volFactor;\n}\n\n// 5. Processing Loop\nconst trades = [];\nlet totalTrades = 0;\nlet winningTrades = 0;\nlet totalProfit = 0;\nlet totalLoss = 0;\n\nconst loopCount = Math.min(originalItems.length, sentiments.length);\n\nfor (let i = 0; i < loopCount; i++) {\n    const d = originalItems[i];\n    const s = sentiments[i];\n    const ticker = d.ticker;\n    const price = parseFloat(d.price || d.close);\n    \n    const wallet = portfolio[ticker];\n    if (!wallet) continue;\n\n    // --- Sentiment aggregation with news count filter ---\n    let sentimentNet = 0;\n    const newsCount = parseInt(d.news_count) || 0;\n    if (Array.isArray(s) && s.length > 0 && newsCount > 0) {\n        let sum = 0;\n        s.forEach(item => {\n            if (item.label === 'POSITIVE') sum += item.score;\n            else if (item.label === 'NEGATIVE') sum -= item.score;\n        });\n        sentimentNet = sum / s.length;\n        // Reduce impact if few news articles\n        if (newsCount < 5) sentimentNet *= 0.5;\n    } else if (s && s.label && newsCount > 0) {\n        sentimentNet = s.label === 'POSITIVE' ? s.score : (s.label === 'NEGATIVE' ? -s.score : 0);\n        if (newsCount < 5) sentimentNet *= 0.5;\n    }\n\n    // --- Technical signals ---\n    const rsi = parseFloat(d.rsi) || 50;\n    const rsiSig = rsiSignal(rsi);\n\n    const macdHist = parseFloat(d.macd_hist) || 0;\n    // Use sign and magnitude, but cap at 0.5\n    const macdSig = Math.min(0.5, Math.max(-0.5, macdHist * 10)); // scale to reasonable range\n\n    const bbPos = parseFloat(d.bb_position) || 0.5;\n    const bbSig = bbSignal(bbPos);\n\n    const ma7 = parseFloat(d.ma7);\n    const ma20 = parseFloat(d.ma20);\n    const trendSig = (ma7 && ma20) ? (ma7 > ma20 ? 1 : -1) : 0;\n\n    const volumeChange = parseFloat(d.volume_change) || 0;\n    const obv = parseFloat(d.obv) || 0; // not used directly\n    const volSig = volumeSignal(volumeChange, obv);\n\n    const vol7d = parseFloat(d.volatility_7d) || 0.03; // default 3%\n\n    // --- Composite score with dynamic weights ---\n    // Higher volatility → more weight on technicals, less on sentiment?\n    // We'll keep fixed weights but use volatility to adjust threshold.\n    const totalScore = 0.25 * rsiSig + 0.20 * macdSig + 0.15 * bbSig + \n                       0.15 * sentimentNet + 0.15 * trendSig + 0.10 * volSig;\n\n    // --- Dynamic threshold based on volatility ---\n    const baseThreshold = 0.25; // lower than before to capture more trades? careful\n    const threshold = volatilityAdjustment(vol7d, baseThreshold);\n\n    // --- Decision ---\n    let decision = 'hold';\n    let reason = `Score ${totalScore.toFixed(2)} (th=${threshold.toFixed(2)})`;\n\n    if (!wallet.inPosition && totalScore > threshold) {\n        decision = 'buy';\n        reason = 'Composite BUY signal';\n    } else if (wallet.inPosition && totalScore < -threshold) {\n        decision = 'sell';\n        reason = 'Composite SELL signal';\n    }\n\n    // --- Trailing stop management (dynamic based on volatility) ---\n    if (wallet.inPosition) {\n        // Update peak price\n        if (!wallet.peakPrice || wallet.peakPrice === 0) wallet.peakPrice = wallet.entryPrice;\n        wallet.peakPrice = Math.max(wallet.peakPrice, price);\n\n        // Set stop percentage based on entry volatility\n        const entryVol = parseFloat(d.volatility_7d) || 0.03;\n        // More volatile -> wider stop to avoid whipsaw, but still cap at 8%\n        const stopPct = Math.min(0.08, Math.max(0.02, entryVol * 2));\n        if (price < wallet.peakPrice * (1 - stopPct)) {\n            decision = 'sell';\n            reason = `Trailing stop (${(stopPct*100).toFixed(1)}%)`;\n        }\n    }\n\n    // --- Execution ---\n    let action = 'none';\n    let pnl = 0;\n\n    if (decision === 'buy' && !wallet.inPosition) {\n        wallet.entryPrice = price;\n        wallet.peakPrice = price;\n        // Determine position size based on volatility? Not implemented here to keep simple.\n        wallet.coin = wallet.balance / price;\n        wallet.balance = 0;\n        wallet.inPosition = true;\n        action = 'buy';\n\n    } else if (decision === 'sell' && wallet.inPosition) {\n        const sellValue = wallet.coin * price;\n        pnl = sellValue - (wallet.coin * wallet.entryPrice);\n\n        if (pnl > 0) {\n            winningTrades++;\n            totalProfit += pnl;\n        } else {\n            totalLoss += Math.abs(pnl);\n        }\n\n        wallet.balance = sellValue;\n        wallet.coin = 0;\n        wallet.inPosition = false;\n        wallet.peakPrice = 0;\n        totalTrades++;\n        action = 'sell';\n    }\n\n    // --- Mark‑to‑market equity ---\n    const currentTickerEquity = wallet.inPosition ? (wallet.coin * price) : wallet.balance;\n    wallet.lastEquity = currentTickerEquity;\n\n    // --- Log ---\n    trades.push({\n        date: d.date,\n        ticker: ticker,\n        price: price,\n        decision: decision,\n        action: action,\n        pnl: pnl !== 0 ? pnl.toFixed(2) : '',\n        rsi: rsi.toFixed(1),\n        sentiment_label: sentimentNet > 0.1 ? 'POSITIVE' : (sentimentNet < -0.1 ? 'NEGATIVE' : 'NEUTRAL'),\n        sentiment_score: sentimentNet.toFixed(2),\n        equity: currentTickerEquity.toFixed(2),\n        reason: reason\n    });\n}\n\n// 5. Calculate Daily Portfolio Equity Curve\n// Group trades by date to get the sum of ALL tickers' equity at that date.\n// Problem: If a ticker doesn't trade on a date (no data?), we should use its last known equity.\n// But assuming dense data (all tickers have data for all days).\n\nconst dateEquityMap = {};\nconst uniqueDates = [...new Set(trades.map(t => t.date))].sort();\n\n// To be precise: For each date, sum the equity of all tickers on that date.\n// The 'trades' array contains equity snapshot for that ticker on that date.\ntrades.forEach(t => {\n    if (!dateEquityMap[t.date]) dateEquityMap[t.date] = 0;\n    dateEquityMap[t.date] += parseFloat(t.equity);\n});\n\nconst equityCurve = uniqueDates.map(d => dateEquityMap[d]);\n// Add initial balance at start for calculation?\n// Better to just use daily closes.\n\n// 6. Calculate Metrics (Sharpe & MDD)\nlet peak = -Infinity;\nlet maxDrawdown = 0;\nconst dailyReturns = [];\n\n// MDD on Portfolio Curve\nfor (const eq of equityCurve) {\n    if (eq > peak) peak = eq;\n    const dd = (peak - eq) / peak;\n    if (dd > maxDrawdown) maxDrawdown = dd;\n}\n\n// Sharpe Ratio\nfor (let i = 1; i < equityCurve.length; i++) {\n    const prev = equityCurve[i-1];\n    const curr = equityCurve[i];\n    const ret = prev !== 0 ? (curr - prev) / prev : 0;\n    dailyReturns.push(ret);\n}\n\nconst avgDailyRet = dailyReturns.reduce((a, b) => a + b, 0) / dailyReturns.length || 0;\nconst variance = dailyReturns.reduce((a, b) => a + Math.pow(b - avgDailyRet, 2), 0) / dailyReturns.length || 0;\nconst stdDev = Math.sqrt(variance);\nconst sharpeRatio = stdDev !== 0 ? (avgDailyRet / stdDev) * Math.sqrt(365) : 0;\n\n// Final Stats\nconst finalTotalEquity = equityCurve[equityCurve.length - 1] || 10000;\nconst totalReturn = ((finalTotalEquity - 10000) / 10000) * 100;\nconst winRate = totalTrades > 0 ? ((winningTrades / totalTrades) * 100) : 0;\nconst profitFactor = totalLoss > 0 ? (totalProfit / totalLoss) : (totalProfit > 0 ? 999 : 0);\n\nreturn [{\n  json: {\n    metric_summary: {\n      \"Total Trades\": totalTrades,\n      \"Win Rate\": winRate.toFixed(2) + \"%\",\n      \"Profit Factor\": profitFactor.toFixed(2),\n      \"Total Return\": totalReturn.toFixed(2) + \"%\",\n      \"Sharpe Ratio\": sharpeRatio.toFixed(2),\n      \"Max Drawdown\": \"-\" + (maxDrawdown * 100).toFixed(2) + \"%\",\n      \"Final Balance\": \"$\" + finalTotalEquity.toFixed(2)\n    },\n    trade_log: trades\n  }\n}];\n"
      },
      "id": "98ef3f39-d1a2-48a0-a5f8-32f98f9110a1",
      "name": "6. Final Logic & Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst trades = input.json.trade_log;\nconst summary = input.json.metric_summary;\n\nif (!trades) throw new Error(\"No trade data\");\n\nconst header = 'date,ticker,price,decision,rsi,sentiment,reason\\n';\nconst csvRows = trades.map(t => {\n  const safeReason = (t.reason || '').replace(/\"/g, \"'\");\n  return `${t.date},${t.ticker},${t.price},${t.decision},${t.rsi},${t.sentiment_label},\"${safeReason}\"`;\n}).join('\\n');\n\nconst csvContent = header + csvRows;\n\nreturn [{\n  json: {\n    summary: summary,\n    message: \"CSV Ready\"\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csvContent).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'final_results.csv'\n    }\n  }\n}];"
      },
      "id": "a2a5d5a3-95e0-4f7c-95f1-c6d5696b99c8",
      "name": "7. Export CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start Bot": {
      "main": [
        [
          {
            "node": "1. Load Market Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. Load News Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Load Market Data": {
      "main": [
        [
          {
            "node": "Parse CSV (Market)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Load News Data": {
      "main": [
        [
          {
            "node": "Parse CSV (News)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV (Market)": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV (News)": {
      "main": [
        [
          {
            "node": "Group News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group News": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "3. Merge Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Merge Daily Data": {
      "main": [
        [
          {
            "node": "4. Prepare Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Prepare Batch": {
      "main": [
        [
          {
            "node": "5. HF Sentiment (Single Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. HF Sentiment (Single Batch)": {
      "main": [
        [
          {
            "node": "6. Final Logic & Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Final Logic & Metrics": {
      "main": [
        [
          {
            "node": "7. Export CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1f84c70-35c3-49d5-a0b1-6660bfcbb469",
  "meta": {
    "instanceId": "f8ae7e4a736adb15fe0fdaf1e95d3214cea0ff710b5ff8ac34163ae96f299a0f"
  },
  "id": "GJJTd5tkpfGD6QnV",
  "tags": []
}