Crypto Trading Bot_Modified.json
{
  "name": "Crypto Trading Bot - Baseline",
  "nodes": [
    {
      "parameters": {},
      "id": "ed26959b-ef2a-40f8-b341-e641b8814f77",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -16
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_features_3months.csv",
        "options": {}
      },
      "id": "8ad8a029-a6ab-455a-bba6-35aa7628fb28",
      "name": "Load Market Data (GitHub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -112
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_news_3months.csv",
        "options": {}
      },
      "id": "c50418eb-707d-4720-a933-95eed7710cf8",
      "name": "Load News Data (GitHub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\n\nif (typeof input.json === 'string') {\n  text = input.json;\n} else if (input.json.data) {\n  text = input.json.data;\n} else if (input.binary && input.binary.data) {\n  text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n} else {\n  text = JSON.stringify(input.json);\n}\n\nconst lines = text.split('\\n').filter(l => l.trim());\nif (lines.length === 0) {\n  throw new Error('Empty CSV data');\n}\n\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  \n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  \n  for (let char of line) {\n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  values.push(current.trim());\n  \n  const obj = {};\n  headers.forEach((h, idx) => {\n    obj[h] = values[idx] || '';\n  });\n  \n  result.push({ json: obj });\n}\n\nreturn result;"
      },
      "id": "9c018081-61c2-4589-8d6a-ccb4bed40384",
      "name": "Parse Market CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\n\nif (typeof input.json === 'string') {\n  text = input.json;\n} else if (input.json.data) {\n  text = input.json.data;\n} else if (input.binary && input.binary.data) {\n  text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n} else {\n  text = JSON.stringify(input.json);\n}\n\nconst lines = text.split('\\n').filter(l => l.trim());\nif (lines.length === 0) {\n  throw new Error('Empty CSV data');\n}\n\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  \n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  \n  for (let char of line) {\n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  values.push(current.trim());\n  \n  const obj = {};\n  headers.forEach((h, idx) => {\n    obj[h] = values[idx] || '';\n  });\n  \n  result.push({ json: obj });\n}\n\nreturn result;"
      },
      "id": "9ff9a27e-e3a1-4cdc-8844-a5e735089bcc",
      "name": "Parse News CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const newsByDate = {};\n\nfor (const item of $input.all()) {\n  const date = item.json.date;\n  if (!newsByDate[date]) {\n    newsByDate[date] = [];\n  }\n  newsByDate[date].push({\n    title: item.json.title || '',\n    body: item.json.body || ''\n  });\n}\n\nreturn [{ json: { newsByDate } }];"
      },
      "id": "4d192c33-5f08-4cfd-b5f3-89a49c5d5e03",
      "name": "Group News by Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet newsLookup = {};\nfor (const item of items) {\n  if (item.json.newsByDate) {\n    newsLookup = item.json.newsByDate;\n    break;\n  }\n}\n\nconst merged = [];\nfor (const item of items) {\n  if (item.json.newsByDate) continue;\n  \n  const date = item.json.date;\n  const news = newsLookup[date] || [];\n  \n  const newsText = news.length > 0 \n    ? news.map(n => `${n.title}: ${n.body.substring(0, 200)}`).slice(0, 3).join('\\n\\n')\n    : 'No significant news today';\n  \n  merged.push({\n    json: {\n      ...item.json,\n      news_text: newsText,\n      news_count: news.length\n    }\n  });\n}\n\nreturn merged;"
      },
      "id": "fd84d4c3-6d82-4308-8521-7c4ecfe0856b",
      "name": "Merge Market + News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `You are a cryptocurrency analyst. Analyze the provided news articles and market data for a specific coin on a given date. Output ONLY valid JSON (no markdown).\\n\\nDate: ${data.date}\\nCoin: ${data.ticker}\\n\\nNews Articles:\\n${data.news_text}\\n\\nMarket Data (at end of day):\\n- Price: $${data.close}\\n- 24h Returns: ${data.returns} (positive = gain, negative = loss)\\n- Volume Change: ${data.volume_change} (percentage change vs previous day)\\n- OBV (On-Balance Volume): ${data.obv} (trending up = accumulation, down = distribution)\\n- RSI (14-day): ${data.rsi} (above 70 = overbought, below 30 = oversold)\\n- MACD Histogram: ${data.macd_hist} (positive = bullish momentum, negative = bearish)\\n- Bollinger Band Position: ${data.bb_position} (0 = lower band, 1 = upper band; near 1 = overbought, near 0 = oversold)\\n- 7-day MA vs 20-day MA: 7MA = ${data.ma7}, 20MA = ${data.ma20} (if 7MA > 20MA, short-term uptrend)\\n- News Count Today: ${data.news_count} (number of articles today)\\n\\nInstructions:\\nAnalyze the news collectively. Look for:\\n- **Regulatory signals**: government actions, legal cases, bans, licenses, approvals.\\n- **Adoption signals**: partnerships, integrations, institutional involvement, real-world use cases.\\n- **Whale activity**: large transactions, exchange inflows/outflows, accumulation/distribution patterns.\\n- **Key events**: hacks, ETF filings, exchange listings, protocol upgrades, macroeconomic news (e.g., Fed rate decisions).\\nCombine with technical indicators to assess market mood.\\n\\nOutput JSON exactly with these fields:\\n{\\n  \\\"sentiment_score\\\": float from -1 (very negative) to 1 (very positive) based on news tone,\\n  \\\"regulatory_risk\\\": float from 0 (no risk) to 1 (high risk) based on news,\\n  \\\"adoption_signal\\\": float from 0 (no adoption news) to 1 (strong positive adoption news),\\n  \\\"whale_activity\\\": string one of \\\"low\\\", \\\"medium\\\", \\\"high\\\",\\n  \\\"key_events\\\": array of strings listing significant events (e.g., [\\\"ETF approval\\\", \\\"hack\\\"]), empty if none,\\n  \\\"market_mood\\\": string one of \\\"bullish\\\", \\\"bearish\\\", \\\"neutral\\\",\\n  \\\"recommended_action\\\": string one of \\\"buy\\\", \\\"sell\\\", \\\"hold\\\",\\n  \\\"confidence\\\": float 0 to 1,\\n  \\\"reasoning\\\": string explaining rationale (max 100 words)\\n}\\n\\nEnsure the JSON is valid and contains no other text.\",\n  \"example_output\": {\n    \"sentiment_score\": 0.72,\n    \"regulatory_risk\": 0.2,\n    \"adoption_signal\": 0.8,\n    \"whale_activity\": \"high\",\n    \"key_events\": [\"ETF approval\", \"institutional partnership\"],\n    \"market_mood\": \"bullish\",\n    \"recommended_action\": \"buy\",\n    \"confidence\": 0.85,\n    \"reasoning\": \"Strong adoption news from major partnership, positive sentiment, and whale accumulation; RSI recovering from oversold and volume spike support upside.\"\n  }`;\n\nreturn [{\n  json: {\n    ...data,\n    prompt: prompt\n  }\n}];"
      },
      "id": "d50ebe6f-9f39-46de-95b2-29ca55ca718c",
      "name": "🎯 MODIFY: LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"martain7r/finance-llama-8b:q4_k_m\", \"prompt\": $json.prompt, \"stream\": false, \"format\": \"json\"} }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "0e049809-7a39-4eb0-a76b-f4301c39ea43",
      "name": "Call Ollama LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        -16
      ],
      "notes": "Finance model: martain7r/finance-llama-8b:q4_k_m"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet analysis;\ntry {\n  analysis = JSON.parse(data.response);\n} catch (e) {\n  analysis = {\n    sentiment_score: 0,\n    market_mood: \"neutral\",\n    recommended_action: \"hold\",\n    confidence: 0,\n    reasoning: \"LLM parse failed\"\n  };\n}\n\nreturn [{\n  json: {\n    price: parseFloat($('🎯 MODIFY: LLM Prompt').first().json.close),\n    analysis: analysis,\n    indicators: {\n      rsi: parseFloat($('🎯 MODIFY: LLM Prompt').first().json.rsi),\n      macd_hist: parseFloat($('🎯 MODIFY: LLM Prompt').first().json.macd_hist),\n      bb_position: parseFloat($('🎯 MODIFY: LLM Prompt').first().json.bb_position),\n      volatility: parseFloat($('🎯 MODIFY: LLM Prompt').first().json.volatility_7d)\n    }\n  }\n}];"
      },
      "id": "cb298e81-20aa-44e5-a819-f1cbf0a09b82",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// 🎯 STUDENTS: MODIFY THIS LOGIC\n// ========================================\n\nconst { price, analysis, indicators } = $input.first().json;\nconst bb_pos = indicators.bb_position;\nconst sentiment = analysis.sentiment_score;\nconst adoption = analysis.adoption_signal;\nconst regulatory = analysis.regulatory_risk;\nconst whale = analysis.whale_activity;\nconst mood = analysis.market_mood;\nconst confidence = analysis.confidence;\nconst rsi = indicators.rsi;\nconst macd = indicators.macd_hist;\nconst bb = indicators.bb_position;\n\n// 1. Compute a composite score (range roughly -1 to 1)\nlet score = 0;\n\n// News sentiment and adoption (positive)\nscore += sentiment * 0.3;\nscore += adoption * 0.2;\n\n// Regulatory risk (negative)\nscore -= regulatory * 0.3;\n\n// Whale activity boost/dampen\nif (whale === 'high') score += 0.2;\nelse if (whale === 'low') score -= 0.1;\n\n// Market mood from AI\nif (mood === 'bullish') score += 0.2;\nelse if (mood === 'bearish') score -= 0.2;\n\n// Technicals\nif (rsi < 30) score += 0.2;               // oversold\nelse if (rsi > 70) score -= 0.2;           // overbought\n\nif (macd > 0) score += 0.1;                 // bullish momentum\nelse if (macd < 0) score -= 0.1;            // bearish momentum\n\nif (bb_pos > 0.8) score -= 0.1;                 // near upper band (resistance)\nelse if (bb_pos < 0.2) score += 0.1;            // near lower band (support)\n\n// 2. Decision based on score and confidence\nlet decision = \"hold\";\nif (confidence >= 0.6) {\n  if (score > 0.5) decision = \"buy\";\n  else if (score < -0.5) decision = \"sell\";\n}\n\n// 3. Risk override: if regulatory risk is very high, hold regardless\nif (regulatory > 0.7) decision = \"hold\";\n\nlet reason = \"Neutral conditions\";\n\nif (sentiment > 0.5 && rsi < 70 && bb_pos < 0.8) {\n  decision = \"buy\";\n  reason = \"Positive sentiment + healthy RSI\";\n} else if (sentiment < -0.3 || rsi > 75) {\n  decision = \"sell\";\n  reason = \"Negative sentiment or overbought\";\n} else if (rsi > 85) {\n  decision = \"sell\";\n  reason = \"Emergency stop-loss (extreme overbought)\";\n}\n\nreturn [{\n  json: {\n    date: $('🎯 MODIFY: LLM Prompt').first().json.date, \n    ticker: $('🎯 MODIFY: LLM Prompt').first().json.ticker, \n    price: price, \n    decision, \n    reason,\n    sentiment: sentiment.toFixed(3), \n    rsi: rsi.toFixed(2),\n    confidence: (analysis.confidence).toFixed(3),\n    score: score\n  }\n}];"
      },
      "id": "9e95a9dc-6d08-4370-9e16-18c930b1ac71",
      "name": "🎯 MODIFY: Trading Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const trades = $input.all();\n\nconst buys = trades.filter(t => t.json.decision === 'buy').length;\nconst sells = trades.filter(t => t.json.decision === 'sell').length;\nconst holds = trades.filter(t => t.json.decision === 'hold').length;\n\nconst csvHeader = 'date,ticker,price,decision,reason,sentiment,rsi,confidence\\n';\nconst csvRows = trades.map(t => {\n  const j = t.json;\n  return `${j.date},${j.ticker},${j.price},${j.decision},\"${j.reason}\",${j.sentiment},${j.rsi},${j.confidence}`;\n}).join('\\n');\n\nconst csvContent = csvHeader + csvRows;\n\nreturn [{\n  json: {\n    total_trades: trades.length,\n    buys: buys,\n    sells: sells,\n    holds: holds,\n    message: `Backtest complete! ${buys} buys, ${sells} sells, ${holds} holds`\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csvContent).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'trades_log.csv'\n    }\n  }\n}];"
      },
      "id": "bea5dd3f-2559-4cf5-8c96-0f6ff6aad452",
      "name": "Export trades_log.csv",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -16
      ],
      "notes": "Download CSV from execution output"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Market Data (GitHub)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load News Data (GitHub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Market Data (GitHub)": {
      "main": [
        [
          {
            "node": "Parse Market CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load News Data (GitHub)": {
      "main": [
        [
          {
            "node": "Parse News CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Market CSV": {
      "main": [
        [
          {
            "node": "Merge Market + News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse News CSV": {
      "main": [
        [
          {
            "node": "Group News by Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group News by Date": {
      "main": [
        [
          {
            "node": "Merge Market + News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Market + News": {
      "main": [
        [
          {
            "node": "🎯 MODIFY: LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 MODIFY: LLM Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama LLM": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "🎯 MODIFY: Trading Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 MODIFY: Trading Logic": {
      "main": [
        [
          {
            "node": "Export trades_log.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3d6c2319-d6f1-4c82-a55d-d9fa44fb3455",
  "meta": {
    "instanceId": "44ea91bc897f5874c17dc329b21fb82c38309407ca42bb2aa26e0239dbb17063"
  },
  "id": "lvs4vZTnlAf4EH2V",
  "tags": []
}